@model IEnumerable<ShopBaseballBats.Models.BatBrand>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Fastpitch Softball Bats</h1>


<div class="row">
    @foreach (var item in Model)
    {   
        <div class="col-md-3">
        <h4>@Html.DisplayFor(modelItem => item.BrandName)</h4>
        
         
           
          
           <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
        </div>
        
    
}
    

    
</div>

