@model IEnumerable<ShopBaseballBats.Models.BatBrand>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Detail">Create New</a>
     
</p>
<div class="row">
    @foreach (var item in Model)
    {   
        <div class="col-md-3">
        <h4>

            @Html.DisplayFor(modelItem => item.BrandName)</h4>
        
          <a href="@Url.Action("Detail")">
           
          </a>
           <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
        </div>
        
    
}
    

    
</div>

