@{
    Layout = null;
    // ViewData["Title"] = "Home Page";
   
}
<!DOCTYPE html>
<html>
<head></head>
    <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1> Hello from the view</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<title></title>

<body>
    <div>
        <h1>
            Shop Baseball Bats
        </h1>
        <h2>@ViewBag.BatBrand</h2>
        <h2>Description: @Html.Raw(ViewBag.Description)</h2>
            @if (ViewBag.BatModels.Length > 0)
                {
                    <h3>Model:</h3>
                    <div>
                        <ul>
                            @foreach (var batModel in ViewBag.BatModels)
                                {   
                                    <li>@batModel, @ViewBag.BatLength/@ViewBag.BatWeight</li>
                            
                            
                                }
                        </ul>
                    </div>
                }

       

    </div>
</body>


</html>