@model ShopBaseballBats.Models.BaseballBats
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title =  Model.DisplayText;//"Baseball Bat Shop";
    //ViewData["Title"] = "Home Page";
   
}

        <h2>@Model.BatBrand</h2>
        <h2>Description: @Html.Raw(Model.DescriptionHtml)</h2>
            @if (Model.BatModels.Length > 0)
                {
                    <h3>Models:</h3>
                    <div>
                        <ul>
                            @foreach (var batModel in Model.BatModels)
                                {   
                                    <li>@batModel.Name: @batModel.Length/@batModel.Weight</li>
                            
                                }
                        </ul>
                    </div>
                }

   