@model ShopBaseballBats.Models.BaseballBats[]
@{
    ViewBag.Title = "Baseball Bats";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var baseballBats in Model)
    {
        <div class="col-md-3">
        <h4>@baseballBats.DisplayText</h4>
        <img src="/Images/@baseballBats.CoverImageFileName"
            alt="@baseballBats.DisplayText"
            class="img-responsive"/>

        </div>
        
    }
    
</div>