@model IEnumerable<ShopBaseballBats.Models.BaseballBats>

@{
    ViewData["Title"] = "Index";
    var brands = new string[]
    {
    "Louisville Slugger",
    "Easton",
    "Rawlings"
    };
}

<h1>Your source for top rated fastpitch bats.</h1>

<p>
    <a>We provide the top rated bats from the top rated brands.</a>
</p>

    <div class="row">
        <div class="col-md-3">
            <h4>the Amazing Bat</h4>
            <img src="\Images\meta22.jpg"
                alt="the 2022 Louisville Slugger Meta"
                class="img-responsive"/>
        </div>
     </div>

    <tbody>
@foreach (var brand in brands)
{
        <tr>
            <td>
               <li>@brand</li>
            </td>
            <td>
                  
                  <a asp-area="" asp-controller="BatBrand" asp-action="Index">Bat Selection</a> 
                       
            </td>
        </tr>
}
    </tbody>

