@model IEnumerable<ShopBaseballBats.Models.BaseballBats>

@{
    ViewData["Title"] = "Index";
    var brands = new string[]
    {
    "Louisville Slugger",
    "Easton",
    "Rawlings"
    };
}

<h1>Welcome to your source for the top rated fastpitch bats.</h1>

<p>
    <a>We provide the top rated bats from the top rated Brands for your satisfaction.</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BatBrands)
                
            </th>
            <th>
                
                 <a>Select Below</a>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var brand in brands)
{
        <tr>
            <td>
               <li>@brand</li>
            </td>
            <td>
                  
                  <a asp-area="" asp-controller="BatBrand" asp-action="Index">Bat Selection</a> 
                       
            </td>
        </tr>
}
    </tbody>
</table>
