@model IEnumerable<ShopBaseballBats.Models.BaseballBats>

@{
    
    ViewData["Title"] = "Home";
    var brands = new string[]
    {
    "Louisville Slugger",
    "Easton",
    "Rawlings"
    };
}

<h1>Your source for top rated fastpitch bats.</h1>

<p>
    <a>We provide the top rated bats from the top rated brands.</a>
</p>

    <div class="row">
        
        <div class="col-md-4">
            <h4>Louisville Slugger</h4>
            <img src="@Url.Content("~/Images/lxt22.jpg")"
                alt="Louisville Slugger LXT Bat"
                class="img-responsive" />
                 <a asp-area="" asp-controller="BatBrand" asp-action="Index">Bat Selection</a>
        </div>
        <div class="col-md-4">
            <h4>Easton</h4>
            <img src="@Url.Content("~/Images/eastonGhost22")"
                alt="Easton Ghost Fastpitch Bat"
                class="img-responsive" />
                <a asp-area="" asp-controller="BatBrand" asp-action="Index">Bat Selection</a>
        </div>
        <div class="col-md-4">
            <h4>Rawlings</h4>
            <img src="@Url.Content("~/Images/rawlingsMantra22.jpg")"
                alt="Rawlings Mantra Fastpitch Bat"
                class="img-responsive" />
                 <a asp-area="" asp-controller="BatBrand" asp-action="Index">Bat Selection</a>
        </div>
       
     </div>

    

