@model IEnumerable<ShopBaseballBats.Models.BaseballBats>

@{
    
    ViewData["Title"] = "Home";
    var brands = new string[]
    {
    "Louisville Slugger",
    "Easton",
    "Rawlings"
    };
    
}

<h1>Your source for top rated fastpitch bats.</h1>

<p>
    <a>We provide the top rated bats from the top rated brands.</a>
</p>

    <div class="row">
        
        <div class="col-md-4">
            <h2><a asp-area="" asp-controller="BatBrand" asp-action="Index">Louisville Slugger</a></h2>
            <img src="@Url.Content("~/Images/lxt22.jpg")"
                alt="Louisville Slugger LXT Bat"
                class="img-responsive" />
                 
        </div>
        <div class="col-md-4">
            <h2><a asp-area="" asp-controller="BatBrand" asp-action="Index">Easton</a></h2>
            <img src="@Url.Content("~/Images/eastonGhost20.jpg")"
                alt="Easton Ghost Fastpitch Bat"
                class="img-responsive" />
               
        </div>
        <div class="col-md-4">
            <h2><a asp-area="" asp-controller="BatBrand" asp-action="Index">Rawlings</a></h2>
            <img src="@Url.Content("~/Images/rawlingsMantra.jpg")"
                alt="Rawlings Mantra Fastpitch Bat"
                class="img-responsive" />
                 
        </div>
       
     </div>

    

