@model ShopBaseballBats.Models.BaseballBats
@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy Policy at Fastpitch Softball Bats</h1>

<body>

<p>We value your privacy and will not share your information with anyone. Ever.</p>


</body>